<!doctype html>
<html lang="en">
  <head>
		<title><%= content_for(:title) || title %></title>
		<meta charset="utf-8">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= copyright_meta_tag %>
		<%= csrf_meta_tags %>
		<%= yield :head %>
  </head>
  <%= tag.body body_tag_options do %>
    <%= yield %>
    <%= yield :before_body_end %>
	  <%= javascript_init_on_ready %>
  <% end %>
</html>
